@import "tailwindcss";

@font-face {
  font-family: "Pix32";
  src: url("/fonts/Pix32.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-cream: #fdf6e3;
  --color-dark: #0f0e0a;

  --font-sans: "Pix32", monospace;
}
